<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="six_axis">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import six_axis urdf file -->
    <xacro:include filename="$(find six_axis_description)/urdf/six_axis.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="six_axis.ros2_control.xacro" />


    <xacro:six_axis_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
